
body {
    #waitingOverlay {
        display:none; 
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);

        img{
            position:absolute;
            top:50%;
            bottom:50%;
            left:50%;
            right:50%;
            width:75px;
            height:75px;
        }
    }

    div.container {
        max-width: 1500px;
    }
}
